<div title="Edit Word Lists" class="btn-wordLists-editor text-center js-show-wordLists"
     data-intro="Manage Word Lists <br>(Category and Words)" data-position="right"
     ><span></span><i class="fa fa-list-alt btn-editor-icon fa-2x"></i></div>
<div class="wordLists-editor-wrapper container-fluid">  
  <div class="wordListHeader row  text-center guide-wl-new" >
    <span class="camp-adventure-font-white wordLists-title">Edit Word Lists</span>
<!--    <a class="btn btn-info btn-guide js-guide">
      <i class="fa fa-info-circle"></i>
    </a>-->
  </div>
  <div class="wl-guide-area text-center">
    <button title="Add New Word List" class="btn btn-new-list js-new" >        
      <i class="fa fa-plus new-list-icon"></i>
    </button> 
  </div>  
  <div id="wordListsView"  class="row wordListViewArea">
  </div>
  <div><span class="">Note: Create new Word List and enter a <b>new line for each word or phrase</b> in the list</span></div>
</div>
