extends ../../../layouts/account

block head
  title Classroom / Settings

block feet
  script(src='/views/session/settings/indexSessionSettings.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
      div#identity
      //div#roles
      //div#password
      div#delete

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/classrooms') Classrooms
        |  / <%= name %>

  script(type='text/template', id='tmpl-identity')
    fieldset
      legend Classroom's Details
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | Changes have been saved.
        |<% } %>
      //div.form-group(class!='<%- errfor.isActive ? "has-error" : "" %>')
      //  label Is Active:
      //  select.form-control(name='isActive')
      //   option(value='yes') yes
      //   option(value='no') no
      //  span.help-block <%- errfor.isActive %>
      div.form-group(class!='<%- errfor.name ? "has-error" : "" %>')
        label Classroom Name:
        input.form-control(type='text', name='name', value!='<%= name %>')
        span.help-block <%- errfor.name %>
      div.form-group(class!='<%- errfor.path ? "has-error" : "" %>')
        label Classroom Address:
        |<% if (!isLocked) { %>
        input.form-control(type='text', name='path', value!='<%= path %>')
        |<% } else {%>
        input.form-control(type='text', name='path', value!='<%= path %>', disabled)
        br
        | This is a classroom for your testing purposes. You may create a new Classroom for each class you teach.
        |<% } %>
        
        span.help-block <%- errfor.path %>
      div.form-group(class!='<%- errfor.PIN ? "has-error" : "" %>')
        label PIN:
        input.form-control(type='text', name='PIN', value!='<%= PIN %>')
        span.help-block <%- errfor.PIN %>
      //div.form-group(class!='<%- errfor.lesson ? "has-error" : "" %>')
      //  label Lesson:
      //  input.form-control(type='text', name='lesson', value!='<%= lesson %>')
      //  span.help-block <%- errfor.lesson %>
      div.form-group
        button.btn.btn-primary.btn-update(type='button') Update


  script(type='text/template', id='tmpl-password')
    fieldset
      legend Set Student's Password
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      |<% if (success) { %>
      div.alert.alert-info.alert-dismissable
        button.close(type='button', data-dismiss='alert') &times;
        | A new password has been set.
      |<% } %>
      div.form-group(class!='<%- errfor.newPassword ? "has-error" : "" %>')
        label New Password:
        input.form-control(type='password', name='newPassword', value!='<%= newPassword %>')
        span.help-block <%- errfor.newPassword %>
      div.form-group(class!='<%- errfor.confirm ? "has-error" : "" %>')
        label Confirm Password:
        input.form-control(type='password', name='confirm', value!='<%= confirm %>')
        span.help-block <%- errfor.confirm %>
      div.form-group
        button.btn.btn-primary.btn-password(type='button') Set Password

  script(type='text/template', id='tmpl-delete')
    fieldset
      <% if (!isLocked){ %>
      legend Danger Zone
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group
        span.help-block
          span.label.label-danger If you do this, it cannot be undone. 
          |&nbsp;
          span.text-muted All students' data would be removed.
      div.form-group
        button.btn.btn-danger.btn-delete(type='button') Delete Classroom
      <% } %>

  script(type='text/template', id='data-record') !{data.record}
