<div class="container-fluid padding-0px">

  <div class="row nav-row">
    <div class="col-md-1 col-sm-1 col-xs-1 text-center">
<!--      <div class="circle-index index-show-element"><%= index %></div>-->
    </div>

    <div class="col-md-3 col-sm-3 text-center">
      <a class="btn-engage btn-engage-default btn-delete-question js-question-delete" id="delete-question">Delete Question</a>        
    </div>
    <div class="col-md-3 col-sm-3 text-center">          
      <button class="btn-engage btn-engage-default btn-trigger-filepicker">Insert Media</button>
    </div>
    <div class="col-md-3 col-sm-3 text-center">
      <a class="btn-engage btn-engage-default btn-new-question js-question-new" id="new-question">New Question</a>
    </div>
    <div class="col-md-2 col-sm-2 text-center">
      <a class="btn-engage btn-engage-default btn-new-question js-new-images" id="new-images" style="display:none;">New Images</a>
    </div>
  </div>  

  <div class="edit-row">

    <div id="elements-side-panel"></div>

    <!--frame content-->
    <div id="element-main-panel">

    </div>
  </div> 
</div>