<div class="adventures-header-wrapper">
  <div class="adventures-header row">
    <span class="adventures-title camp-adventure-font-style">Adventures</span>
  </div>


</div>
<div class="row adventures-toolbar">
  <a class="btn btn-new-adventure camp-normal-font js-new" title="Add Adventure (Lesson Plan)">
    <i class="fa fa-plus fa-2x"></i>
  </a>

</div>
<!--<div class="text-center camp-adventure-font-black adventure-subheader">Assign an Adventure to your classroom</div>-->
<div id='adventures-container' class="row">

  <!--  <div class="adventure-wrapper js-empty-adventure col-md-4 col-lg-3">
      <div class="adventure-area">
        <div class="adventure-map-holder adventure-map-empty js-empty">
          <div class="adventure-text-empty">Select Empty Adventure</div>
          <i class="fa fa-question fa-2x adventure-icon-empty"></i>
        </div>
        <div class="adventure-name text-center"><span class="camp-adventure-font-style"></span></div>  
      </div>
    </div>-->
</div>