<div class="container-fluid padding-0px">  
  <div class="activity-question-title text-center camp-adventure-font"><a class="btn js-rename"><%= activityTitle %></a></div>  
  <div class="row nav-row">
<!--    <div class="col-md-1 col-sm-1 col-xs-1 text-center">
    </div>-->
    <div class="col-md-4 col-sm-4 text-center">
      <a class="btn-engage btn-engage-default btn-delete-question js-question-delete" id="delete-question">Delete Slide</a>        
    </div>
    <div class="col-md-4 col-sm-4 text-center">          
      <button class="btn-engage btn-engage-default btn-trigger-filepicker">Insert Media</button>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <a class="btn-engage btn-engage-default btn-new-question js-question-new" id="new-question">New Slide</a>
      <a class="btn-engage btn-engage-default btn-new-question js-question-duplicate" id="duplicate-question">Duplicate Slide</a>
    </div>
    <div class="col-md-2 col-sm-2 text-center" style="display:none;">
      <a class="btn-engage btn-engage-default btn-new-question js-new-images" id="new-images" style="display:none;">New Images</a>
    </div>
  </div>  

  <div class="edit-row">
    <div id="elements-side-panel"></div>
    <!--frame content-->
    <div id="element-main-panel"></div>
  </div> 
</div>