<div class="container">
    <h2 class="form-signin-heading">Hit.Camp</h2>
    <form class="form-signin " role="form" >

        <div class="form-group ">  
            <label class="control-label" for="inputPinSuccess"></label>
            <input type="number" class="form-control" id="inputPinSuccess" placeholder="Classroom Pin" required  align="middle" maxlength="4" max="9999" >           
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="submitPin" type="button">Sign In</button>
    </form>
</div>
<a href="../../../../layouts/account.jade"></a>