<div class="elements-panel-wrapper">
<!--  <div class="element-panel " id="addOne">
    <div class="addOne js-new">
      <span>+</span>
    </div>
  </div>-->

</div>
<div id="cloned-slides" class="cloned-slides"></div>
<!--<div class="activity-title-edit-area" id="activity-title-edit-area">
  <textarea name="questionText" class="activity-title-edit" id="activity-title-desc"></textarea>
  <a class="btn btn-success btn-activity-title-edit js-save">Save</a>
  <a class="btn btn-default btn-activity-title-edit js-cancel">Cancel</a>
</div>           -->

