<div class="modal-dialog">
  <div class="modal-content">    
    <div class="modal-header elements-list">
      <button type="button" class="close js-close" data-dismiss="modal" aria-hidden="true"><span class="modal-close">&times;</span></button>
      <span id="activity-title" class="js-rename">
        <div id="inner-activity-title">
          <div class="circle-index "> <%=index %></div>
          <div  contenteditable="true" data-ph="Click to edit title" class="activity-title-text js-activity-title-text" id="activity-title-text"><%= activityTitle %></div>
          <div class="lesson-list-header-bar">            
<!--            <a href="#" class="btn btn-default btn-sm btn-adventure js-select">Insert Media</a>  
             <a href="#" class="btn btn-default btn-sm btn-adventure js-new-images">Insert Images</a>-->
          </div>
          
          <div id="lessonView"  class="row margin-0px"></div>
          <div class="activity-title-edit-area" id="activity-title-edit-area">
            <textarea name="questionText" class="activity-title-edit" id="activity-title-desc"><%= activityTitle %></textarea>
            <a class="btn btn-success btn-activity-title-edit js-save">Save</a>
            <a class="btn btn-default btn-activity-title-edit js-cancel">Cancel</a>
          </div>
      </span>      
    </div>    
    <div class="modal-body elements-list" >
      <div class="elements-wrapper">
        <div class="element " id="addOne">
          <div class="addOne js-new">
            <span>+</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
