<div class="row margin-0px ">
  <div class="col-md-6 col-sm-6 col-xs-12 col-answer-a padding-0px  ">       
    <div class="btn-answer-a col-md-12 col-sm-12 col-xs-12 answer-text js-answerA dullPink" id="answer-text-a">
      <div class="col-md-1 col-sm-1 col-xs-1 label-a answer-text-label-area padding-0px">
        <span class="answer-text-label">A</span>
      </div>
      <div class="col-md-11 col-sm-11 col-xs-11"><%= answerTextA %></div>            
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 col-answer-b padding-0px ">        
    <div class="btn-answer-b col-md-12 col-sm-12 col-xs-12 answer-text js-answerB dullGreen " id="answer-text-b">
      <div class="col-md-1 col-sm-1 col-xs-1  label-b answer-text-label-area padding-0px">
        <span class="answer-text-label">B</span>
      </div>
      <div class="col-md-11 col-sm-11 col-xs-11"><%= answerTextB %></div>          
    </div>
  </div>
</div>
<div class="row margin-0px ">
  <div class="col-md-6 col-sm-6 col-xs-12 col-answer-c padding-0px">        
    <div class="btn-answer-c col-md-12 col-sm-12 col-xs-12 answer-text js-answerC dullBlue " id="answer-text-c">
      <div class="col-md-1 col-sm-1 col-xs-1 answer-text-label-area label-c padding-0px">
        <span class="answer-text-label">C</span>
      </div>
      <div class="col-md-11 col-sm-11 col-xs-11"><%= answerTextC %></div>           
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12  col-answer-d padding-0px">       
    <div class="btn-answer-d col-md-12 col-sm-12 col-xs-12 answer-text js-answerD dullYellow" id="answer-text-d">
      <div class="col-md-1 col-sm-1 col-xs-1 answer-text-label-area label-d padding-0px">
        <span class="answer-text-label">D</span>
      </div>               
      <div class="col-md-11 col-sm-11 col-xs-11"><%= answerTextD %></div> 
    </div>
  </div>
</div>
<div class="row submit-area  margin-0px ">
  <div class="col-sm-1 col-sm-offset-10  col-xs-3 col-xs-offset-8 col-md-1 col-md-offset-10 padding-0px" >
    <a class="btn btn-lg btn-default js-submit-answer btn-submit">Submit</a>
    <a class="btn btn-lg btn-default js-submit-next btn-submit-next">Next</a>
  </div>    
</div>

