<div  contentEditable=true  data-ph="Click to edit question/description" class="col-md-12 col-sm-12 col-lg-12 question-text js-question-text" id="question-text"><% console.log( questionText ) %><%= questionText %></div>
<div class="col-md-12 col-sm-12 col-lg-12 question-text-edit-area " id="question-text-edit">
  <textarea name="questionText" class="question-text-edit" id="question-text-desc"><%= questionText %></textarea>
  <a class="btn btn-success question-text-edit-btn js-question-save">Save</a>
  <a class="btn btn-default question-text-edit-btn js-question-cancel">Cancel</a>
</div>
