 <div class="col-md-12 col-sm-12 col-xs-12 col-answer-a text-center padding-0px">
      <div class="col-md-1 col-sm-1 col-xs-1 answer-text-label label-a padding-0px dullPink"><p>A</p></div>
      <div contentEditable=true data-ph="Click to edit answer" class="col-md-11 col-sm-11 col-xs-11 col-md-offset-1 col-sm-offset-1  col-xs-offset-1 answer-text js-answerA" id="answer-text-a"><%= answerTextA %></div>
      <div  class="col-md-11 col-sm-11 col-xs-11 col-md-offset-1 col-sm-offset-1  col-xs-offset-1  answer-edit-area" id="answer-text-edit-a">
        <textarea name="answerText" class="answer-text-edit" id="answer-text-a-desc"><%= answerTextA %></textarea>
        <a class="btn btn-success answer-text-edit-btn js-answer-save-a">Save</a>
        <a class="btn btn-default answer-text-edit-btn js-answer-cancel-a">Cancel</a>
      </div>
    </div>