<div class=" col-md-12 col-sm-12 col-xs-12  padding-0px col-answer-a">
  <div class=" answer-text-label-wrapper text-center label-a dullPink">
    <div class="answer-text-label-font">A</div>
    <div class="answer-select-wrapper">
      <!--<div class="camp-adventure-font">Answer</div>-->
      <input id="radioa" class="js-answer-select-radio btn-radio-answer" type="radio" value="a">
      <span class="answer-radio"><label for="radioa"><i class="fa fa-check"></i></label></span>      
    </div>
  </div>
  <div contentEditable=true data-ph="Click to edit answer" class="answer-text js-answer" id="answer-text-a"><%= answerTextA %></div>
  <div  class="answer-edit-area" id="answer-text-edit-a">
    <textarea name="answerText" class="answer-text-edit" id="answer-text-a-desc"><%= answerTextA %></textarea>
    <a class="btn btn-success answer-text-edit-btn js-answer-save">Save</a>
    <a class="btn btn-default answer-text-edit-btn js-answer-cancel">Cancel</a>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 col-answer-b  padding-0px">
  <div class=" answer-text-label-wrapper text-center label-b dullGreen">
    <div class="answer-text-label-font">B</div>
    <div class="answer-select-wrapper">
      <!--<div class="camp-adventure-font">Answer</div>-->      
      <input id="radiob" class="js-answer-select-radio btn-radio-answer" type="radio" value="b">
      <span class="answer-radio"><label for="radiob"><i class="fa fa-check "></i></label></span>         
    </div>
  </div>
  <div contentEditable=true data-ph="Click to edit answer" class=" answer-text js-answer" id="answer-text-b"><%= answerTextB %></div>
  <div  class="answer-edit-area" id="answer-text-edit-b">
    <textarea name="answerText" class="answer-text-edit" id="answer-text-b-desc"><%= answerTextB %></textarea>
    <a class="btn btn-success answer-text-edit-btn js-answer-save">Save</a>
    <a class="btn btn-default answer-text-edit-btn js-answer-cancel">Cancel</a>
  </div>
</div>
<div class="col-md-12 col-sm-12  col-xs-12 col-answer-c padding-0px ">
  <div class="answer-text-label-wrapper text-center label-b dullBlue">
    <div class="answer-text-label-font">C</div>
    <div class="answer-select-wrapper">
      <!--<div class="camp-adventure-font">Answer</div>-->
      <input id="radioc" class="js-answer-select-radio btn-radio-answer" type="radio" value="c">
      <span class="answer-radio"><label for="radioc"><i class="fa fa-check"></i></label></span>     
    </div>
  </div>
  <div contentEditable=true data-ph="Click to edit answer" class=" answer-text js-answer" id="answer-text-c"><%= answerTextC %></div>
  <div  class="answer-edit-area" id="answer-text-edit-c">
    <textarea name="answerText" class="answer-text-edit" id="answer-text-c-desc"><%= answerTextC %></textarea>
    <a class="btn btn-success answer-text-edit-btn js-answer-save">Save</a>
    <a class="btn btn-default answer-text-edit-btn js-answer-cancel">Cancel</a>
  </div>
</div>
<div class="col-md-12 col-sm-12  col-xs-12 col-answer-d  padding-0px">
  <div class=" answer-text-label-wrapper text-center label-b dullYellow">
    <div class="answer-text-label-font">D</div>
    <div class="answer-select-wrapper">
      <!--<div class="camp-adventure-font">Answer</div>-->
      <input id="radiod" class="js-answer-select-radio btn-radio-answer" type="radio" value="d">
      <span class="answer-radio"><label for="radiod"><i class="fa fa-check"></i></label></span>     
    </div>
  </div>
  <div contentEditable=true data-ph="Click to edit answer" class=" answer-text js-answer" id="answer-text-d"><%= answerTextD %></div>
  <div  class="answer-edit-area" id="answer-text-edit-d">
    <textarea name="answerText" class="answer-text-edit" id="answer-text-d-desc"><%= answerTextD %></textarea>
    <a class="btn btn-success answer-text-edit-btn js-answer-save">Save</a>
    <a class="btn btn-default answer-text-edit-btn js-answer-cancel">Cancel</a>
  </div>
</div>