doctype html
head
  title Test Students
  meta(charset='UTF-8')
  meta(http-equiv='x-ua-compatible', content='IE=edge')
  meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
  meta(name='mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')      

frameset(rows="*,*" cols="*,*,*")
  frame(src='../../join/'+ idSession +'/?name=Top Left&')
  frame(src='../../join/'+ idSession +'/?name=Top Middle&')
  frame(src='../../join/'+ idSession +'/?name=Top Right&')
  frame(src='../../join/'+ idSession +'/?name=Bottom Left&')
  frame(src='../../join/'+ idSession +'/?name=Bottom Middle&')
  frame(src='../../join/'+ idSession +'/?name=Bottom Right&')