doctype html
head
    title Hit.Camp - Enter PIN
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='../../webappJoin/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../../webappJoin/css/engage_style.css')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    script(data-main='../../webappJoin/js/main', src='../../webappJoin/js/libs/require/require.js')

#engageApp
